-
	var header = {
		logo: {
			x1: '/assets/images/logo.png',
			x2: '/assets/images/logo@2x.png',
			alt: 'themoon logo'
		},
		logoText: {
			logo: '/assets/images/name.svg',
			alt: 'themoon logo'
		},
		navigation: [
			{
				text: 'Home',
				link: '/'
			},
			{
				text: 'About',
				link: '/'
			},
			{
				text: 'Products',
				link: '/',
				subItems: [
					[
						{
							text: 'after shame products',
							link: '/'
						},
						{
							text: 'products for shaming',
							link: '/'
						},
						{
							text: 'deodorants',
							link: '/'
						},
						{
							text: 'eue de toilette',
							link: '/'
						},
						{
							text: 'other',
							link: '/'
						}
					],
					[
						{
							text: 'Best Sellers',
							link: '/'
						},
						{
							text: 'We Recommend',
							link: '/'
						},
						{
							text: 'On sales',
							link: '/'
						},
						{
							text: 'New in',
							link: '/'
						},
					]
				]
			},
			{
				text: 'Coming soon',
				link: '/'
			},
			{
				text: 'Blog',
				link: '/'
			},
			{
				text: 'Contact us',
				link: '/'
			},
		]
	}

header.header
	.header__container.fw

		.logo.fw
			picture.logo__icon
				source(srcset=header.logo.x2, media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)")
				img(src=header.logo.x1, alt=header.logo.alt)
			picture.logo__text
				img(src=header.logoText.logo, alt=header.logoText.alt)

		.navigation


		.side

			button.side__search
				picture
					img(src='/assets/images/search.svg', alt=header.logoText.alt)
